<h1>Books#index</h1>


<div>
  <%= flash[:notice] %>
</div>

<h2>Books</h2>

<% @book_all.each do |f| %>

  <table>

  <thead>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
  </thead>

  <tbody>
  <th></th>
  <td><%= link_to f.title, "/books/#{f.id}" %></td>
  <td><%= f.body %></td>
  </tbody>

  </table>
<% end %>