<h1>Books#index</h1>


<h2>Books</h2>

<% @book_all.each do |f| %>

  <table>

  <thead>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
  </thead>

  <tbody>
  <th></th>
  <td><%= f.title %></td>
  <td><%= f.body %></td>
  </tbody>

  </table>
<% end %>